<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><% if @post %><%= @post.title %><% elsif @page %><%= @page.title %><% else %>My site<% end %></title>
</head>
<body>
<%= yield %>
</body>
</html>