<form method="post" action="<%= @path %>">
  <p>Name: <input type="text" name="name" /></p>
  <p>Email: <input type="text" name="email" /></p>
  <p>Your message:<br><textarea name="message"></textarea></p>
  <p><input type="submit" /></p>
</form>