---
layout: default
title: Contact
---

<h2>Contact</h2>
<p>I'd love to hear from you! Just fill out this form, and I'll be in touch.</p>
<%= render_template('shared.contact_form', path: '/contact/') %>