---
layout: default
---

<h2>Posts from this <%= @archive_type %> (<%= @archive_date.strftime('%B %-d, %Y') %>)</h2>

<ul>
<% @items.each do |post| %>
  <li><a href="/archives/<%= post.slug %>"><%= post.title %></a></li>
<% end %>
</ul>