---
layout: default
---

<h2>Posts in <%= @archive_date.strftime('%B, %Y') %></h2>

<ul>
<% @items.each do |post| %>
  <li><a href="/archives/<%= post.slug %>"><%= post.title %></a></li>
<% end %>
</ul>