<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>My site</title>
</head>
<body>
<h2>Posts on January 1, 2015</h2>

<h3>My second post</h3>
<h3>My first post</h3>
</body>
</html>